<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>

  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="/static/spa_styles.css" />
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body hx-boost="true" hx-indicator=".loader">
  <header>
    <nav>
      <img src="/static/shuriken.png" alt="Shuriken" />
      <h1>The Dojo Chronicles</h1>
    </nav>
  </header>

  <div hx-history-elt>
    {% block content %}{% endblock %}
  </div>

  {% include "partials/loader.html" %}
</body>


</html>